h2 {
    font-family: sans-serif;
   }

h3 {
     font-family: sans-serif;
   }

h4 {
     font-family: sans-serif;
   }

h5 {
     font-family: sans-serif;
   }

nav a {
      text-align: center;
      width: 30%;
      display: inline-block;
      color: darkblue;
      background-color: #E3D0FD;
}
